<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <!-- 自动扫描被@Aspect注解的bean-->
    <aop:aspectj-autoproxy/>

    <bean id="tracerAspect" class="com.imcbb.dubbo.demo.aspect.ServiceAspect"/>

    <bean id="demoServiceImpl" class="com.alibaba.dubbo.demo.provider.DemoServiceImpl"/>

</beans>
